body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-image: url('https://t4.ftcdn.net/jpg/03/08/87/39/360_F_308873970_klaX5UmSzaODVHO6bv5vnTECKYDtWMB6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}